---
http_interactions:
- request:
    method: get
    uri: https://api.sightengine.com/1.0/nudity.json?api_secret=<SIGHTENGINE_API_SECRET>&api_user=<SIGHTENGINE_API_USER>&url=https://unsplash.it/200/300?random
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"success","nudity":{"result":false,"confidence":78},"photo":"https:\/\/unsplash.it\/200\/300?random"}'
  recorded_at: Fri, 01 Jul 2016 21:27:38 GMT
recorded_with: VCR 3.0.3
